# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/



# Environment variables
.env

# OS
.DS_Store
Thumbs.db





media/
staticfiles/
*.mp4
*.mov
*.avi
*.zip
*.rar

# Django static & media
static/
staticfiles/
media/

# Big files
*.mp4
*.mov
*.avi
*.mkv
*.pdf



# Env
.env
venv/

# Virtual Environment
Env/
venv/

# Python
__pycache__/
*.pyc

# Django
static/
staticfiles/
media/

# OS
.DS_Store
Thumbs.db
