# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
env/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db





media/
staticfiles/
*.mp4
*.mov
*.avi
*.zip
*.rar
