# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
Env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/admin/
static/debug_toolbar/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.txt
!requirements.txt
!Proje_Kodlari.txt
