Django>=4.2
gunicorn
psycopg2-binary
django-crispy-forms
django-crispy-bootstrap5
django-modeltranslation
whitenoise
Pillow
python-dotenv
django-axes
django-allauth
django-widget-tweaks
django-cors-headers
django-redis
django-filter
django-ckeditor-5
django-ckeditor-5-uploader
django-ckeditor-5-widget
django-ckeditor-5-image
django-ckeditor-5-link
django-ckeditor-5-table
django-ckeditor-5-list
django-ckeditor-5-quote
django-ckeditor-5-codeblock
django-ckeditor-5-alignment
django-ckeditor-5-highlight
django-ckeditor-5-horizontalrule
django-ckeditor-5-indent
django-ckeditor-5-link
django-ckeditor-5-media
django-ckeditor-5-table
django-ckeditor-5-toolbar
django-ckeditor-5-upload
django-ckeditor-5-widget