{% extends 'arastirma/base.html' %}
{% load static %}

{% block title %}Araştırma Politikaları Komisyonu - Avrasya University{% endblock %}
 

{% block content %}
<section class="research-hero" style="background: linear-gradient(135deg, #1d61a9 0%, #092442 100%); padding: 100px 0 60px;">
    <div class="container">
        <div class="research-hero-content">
            <h1>Araştırma Politikaları Komisyonu</h1>

            <p></p>
        </div>
    </div>
</section>

<section class="research-section">
    <div class="container">
        <div class="sidebar-layout">
            <!-- سایدبار در سمت چپ -->
            <div class="sidebar-left">
                {% include 'arastirma/includes/policy_sidebar.html' %}
            </div>
            
            
        </div>
    </div>
</section>
{% endblock %}