{% extends 'core/main/base.html' %}
{% load i18n %}
{% block title %}Hakkımızda{% endblock %}
{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-primary">{% trans "Hakkımızda" %}</h2>
    <p>{% trans "Avrasya Üniversitesi, yenilikçi eğitim anlayışı, güçlü akademik kadrosu ve çağdaş altyapısıyla geleceğe yön veren bireyler yetiştirmektedir." %}</p>
    <p>{% trans "Misyonumuz, kaliteli eğitim ve araştırma faaliyetleri ile öğrencilere global standartlarda bilgi ve beceri kazandırmaktır." %}</p>
</div>
{% endblock %}
