#slider img {
max-height: 800px;
object-fit: cover;
}
#about p {
max-width: 700px;
margin: auto;
}
#news .card-title {
color: #003366;
}
#links {
font-size: 1.2rem;
font-weight: 500;
}
#links a:hover {
text-decoration: underline;
}